<header class="no-print pt-6 mb-4">
  <nav class="flex justify-center flex-wrap gap-x-8 gap-y-2 text-lg">
    <a class="no-underline" href="{{ '/' | relative_url }}">Home</a>
    <a class="no-underline" href="{{ '/publications/' | relative_url }}">Publications</a>
    <a class="no-underline" href="{{ '/projects/' | relative_url }}">Projects</a>
    <a class="no-underline" href="{{ '/blog/' | relative_url }}">Blog</a>
    <a class="no-underline" href="{{ '/cv/' | relative_url }}">CV</a>
  </nav>
</header>
